<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
<title>Quechua Language Notes</title>
<link type="text/css" rel="stylesheet" href="{{ site.baseurl }}/style.css" />
<meta name="description" content="An online Quechua language learning resource" />
<meta name="keywords" content="quechua, language learning, kichwa, peru, bolivia" />
<meta name="copyright" content="2012 Casey Link" />
<meta property="og:image" content="http://binaryelysium.com/images/quechua.jpg"/>

<link rel="image_src" href="http://binaryelysium.com/images/quechua.jpg" />

{{ page.head }}

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-22027971-1']);
  _gaq.push(['_setDomainName', '.binaryelysium.com']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>


</head>
<body>
<div id="content">
    <div id="head">
        <span class="title">Quechua Notes</span>
        <ul id="menu">
            <li><a href="{{ site.baseurl }}/index.html">home</a></li>
            <li><a href="{{ site.baseurl }}/vocab.html">vocabulary</a></li>
            <li><a href="{{ site.baseurl }}/grammar.html">grammar</a></li>
            <li><a href="{{ site.baseurl }}/recordings.html">recordings</a></li>
            <li><a href="{{ site.baseurl }}/about.html">about</a></li>

            <li><a href="{{ site.baseurl }}/links.html">links</a></li>
        </ul>
    </div>

        <div class="body">
            {{content}}
        </div>
        <div id="footer">
            <p><a href="mailto:kc (at) binaryelysiumdotcom">Contact</a> - I welcome comments and constructive criticism.</p>
            <p>This site is based off <a href="http://arabic.desert-sky.net">Desert Sky's Arabic learning resource</a>, which I found invaluable when studying Arabic.</p>
        </div>
</div>
</body>
</html>

